html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #fff;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  padding: 1rem .75em 1em .6em;
  display: flex;
  background-color: #e2e2e2;
  align-items: center;
  justify-content: space-between;
}

header p {
  font-size: 1.125rem;
}

header img {
  width: 2rem;
  order: -1;
}

header h1 {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  padding: 1em;
  margin: 1em;
  display: flex;
}

nav ul li {
  margin: 1rem;
  font-size: 1.125rem;
}

nav a {
  color: #0074d9;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
